header.header
	.header-top
		.container
			.header-top__callback.callback-phone
				.callback-phone__number 8 (495) 555-65-44
				a(href="tel:8495-555-65-44").callback-phone__link Обратный звонок
	.header-main
		.container
			.header-main__content
				.header-burger
					span.header-burger__line
					span.header-burger__line
					span.header-burger__line
				nav.header-menu
					ul.header-menu__list
						li.header-menu__item
							a(href="#about-us").header-menu__link О нас
						li.header-menu__item
							a(href="#directions").header-menu__link Услуги
						li.header-menu__item
							a(href="#feedback").header-menu__link Отзывы
						li.header-menu__item
							a(href="#contacts").header-menu__link Контакты
				.header-logo
					img(src="images/general/header-logo.png" alt="логотип").header-logo__img
	.header-banner#about-us
		.container
			.header-banner__info
				h1.header-banner__title юридические услуги
				p.header-banner__text Юридическая фирма «Bargain» объединяют высококвалифицированных юристов и адвокатов, без преувеличения, во всех отраслях права.
				p.header-banner__text Наши специалисты внимательно следят за изменениями в российском законодательстве и всегда готовы помочь Вам в решении самых сложных задач.
			a(href="javascript:void(0);").header-btn Проконсультироваться бесплатно
		