section.s-feedback.feedback#feedback
	.container
		h1.feedback__title Отзывы
		.feedback-body

			.feedback-body__item.feedback-body__item--non-reverse
				.feedback-body__img.feedback-body__img--1
					img(src="images/content/feedback-1.png" alt="фото")
				.feedback-info
					span.feedback-info__name Иванова Мария, 27 лет
					span.feedback-info__position директор рекламного агенства
					p.feedback-body__text “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliqua.” <br>03/02/15 

			.feedback-body__item.feedback-body__item--reverse
				.feedback-body__img.feedback-body__img--2
					img(src="images/content/feedback-2.png" alt="фото")
				.feedback-info
					span.feedback-info__name Иванова Мария, 27 лет
					span.feedback-info__position директор рекламного агенства
					p.feedback-body__text “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliqua.” <br>03/02/15 
			
			.feedback-body__item.feedback-body__item--non-reverse
				.feedback-body__img.feedback-body__img--3
					img(src="images/content/feedback-1.png" alt="фото")
				.feedback-info
					span.feedback-info__name Иванова Мария, 27 лет
					span.feedback-info__position директор рекламного агенства
					p.feedback-body__text “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. aliqua.” <br>03/02/15 