section.s-advantages.advantages
	.container
		h1.advantages__title Наши <br> Преимущества
		.advantages-body
			.advantages-body__item.advantages-body__item
				.advantages-item__img.advantages-item__img--1
					img(src="images/content/advantages-1.png")
				.advantages-item__info
					span.advantages-item__title Профессионализм
					p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			.advantages-body__item.advantages-body__item
				.advantages-item__img.advantages-item__img--2
					img(src="images/content/advantages-2.png")
				.advantages-item__info
					span.advantages-item__title Надежность
					p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			.advantages-body__item.advantages-body__item
				.advantages-item__img.advantages-item__img--3
					img(src="images/content/advantages-3.png")
				.advantages-item__info
					span.advantages-item__title Сроки
					p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			.advantages-body__item.advantages-body__item
				.advantages-item__img.advantages-item__img--4
					img(src="images/content/advantages-4.png")
				.advantages-item__info
					span.advantages-item__title Выгодная цена
					p.advantages-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 


