section.s-directions.directions#directions
	.container
		.directions-wrapper
			.directions-header
				span.directions-header__title-big Мы работаем <br>
				span.directions-header__title по следующим направлениям
			.directions-body
				.directions-body__work
					ul.directions-list.directions-list--disc
						a(href="javascript:void(0);").directions-list__link Гражданские дела
						li.directions-list__sub-item
							a(href="javascript:void(0);").directions-list__sub-link семейные
						li.directions-list__sub-item
							a(href="javascript:void(0);").directions-list__sub-link жилищные
						li.directions-list__sub-item
							a(href="javascript:void(0);").directions-list__sub-link земельные
						li.directions-list__sub-item
							a(href="javascript:void(0);").directions-list__sub-link трудовые
						li.directions-list__sub-item
							a(href="javascript:void(0);").directions-list__sub-link страховые
						li.directions-list__sub-item
							a(href="javascript:void(0);").directions-list__sub-link наследственные
						li.directions-list__sub-item
							a(href="javascript:void(0);").directions-list__sub-link авторские
					ul.directions-list
						li.directions-list__item
							a(href="javascript:void(0);").directions-list__link Уголовные дела
						li.directions-list__item
							a(href="javascript:void(0);").directions-list__link Арбитражные споры
						li.directions-list__item
							a(href="javascript:void(0);").directions-list__link Административные дела
						li.directions-list__item
							a(href="javascript:void(0);").directions-list__link Юридическое сопровождение организаций
						li.directions-list__item
							a(href="javascript:void(0);").directions-list__link Налоговые споры
						li.directions-list__item
							a(href="javascript:void(0);").directions-list__link Исполнительное производство
						li.directions-list__item
						a(href="javascript:void(0);").directions-list__link Профессиональный держатель реестра акционеров

				.directions-sign-up
					a(href="javascript:void(0);").sign-up__btn Записаться
					p.sign-up__info Запишитесь на консультацию <br> со специалистом