footer.footer
	.container
		.footer-body
			.footer-body__logo
				.footer-logo__img
					img(src="images/general/footer-logo.png")
				span.footer-body__logo-text Юридические <br> услуги
			.footer-body__action
				.footer__callback.callback-phone
					.callback-phone__number 8 (495) 555-65-44
					a(href="javascript:void(0);").callback-phone__link Обратный звонок
				.footer-mail
					a(href="mailto: mail1@bargain.com").footer-mail__link mail1@bargain.com
					a(href="mailto: mail1@bargain.com").footer-mail__link mail2@bargain.com